:root {
    --background-color: #212529;
    --card-color: #262a2e;
    --text-color: #dee2e6;
    --link-color: #E79E4F;
}

* {
    font-family: Arial, Helvetica, sans-serif;
    /* font-family: 'Times New Roman', Times, serif; */
}

.crimson-text-regular {
    font-family: "Crimson Text", serif;
    font-weight: 400;
    font-style: normal;
  }


/* Cards image formatting */
.card-img-top {
    width: 100%;
    height: 30vw;
    object-fit: cover;
}

.embedded-player {
    height: auto;
    width: 100%;
    aspect-ratio: 16/9;
}

.btn-contact {
    width: 100%;
    height:  3em;
}

.container {
    margin-top: 80px;
}

#instrument-title {
    color: var(--link-color);
}

/* Dark theme colors */
[data-bs-theme=dark] {
    body, th, tr{
        color: var(--text-color);
        background-color: var(--background-color);
    }
    .card{
        background-color: var(--card-color);
    }
    a, h3, h6, .btn-link {
        color: var(--link-color);
    }
    .btn-contact {
        background-color: var(--link-color);
        border: #212529;
        color: var(--background-color)!important;
    }
}